*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    padding: 10px 0;
    background-color: beige;
}
.navbar__body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: 900;
    font-size: 30px;
    color: black;
}
.exit {
    font-size: 24px;
    color: black;
    position: relative;
}

.cart {
    padding: 50px 0;
}
.cart__title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.cart__body {
}

.cart__item{
    padding: 10px 30px;
    background-color: bisque;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__item:last-child{
    border-bottom: 1px solid black;
}

.cart__head{
    flex: 0 0 33.333%;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;

}

.cart__image img{
    width: 50px;
    height: 50px;
}

.cart__name{
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cart__price{
    flex: 0 0 33.333%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.cart__proccess{
    display: flex;
    align-items: center;    
    gap: 20px;
}

.cart__plus{
    font-size: 24px;
    cursor: pointer;
}
.cart__minus{
    font-size: 24px;
    cursor: pointer;    
}

.cart__count{
    flex: 0 0 33.333%;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.cart__overall{
    font-size: 18px;
    font-weight: 500;
}
.cart__total{
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 560px){
    .cart__item{
        padding: 20px;
    }
}
@media (max-width: 375px){
    .cart__image {
        display: none;
    }
    .cart__head{
        flex: auto;
    }
    .cart__price{
        flex: 0 1 20%;
    }
}