*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.cart {
    padding: 50px 0;
}
.cart__title {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.cart__body {
}

.cart__item{
    padding: 10px 30px;
    background-color: bisque;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__item:last-child{
    border-bottom: 1px solid black;
}

.cart__name{
    flex: 0 0 33.333%;
    font-size: 18px;
}

.cart__price{
    flex: 0 0 33.333%;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.cart__count{
    flex: 0 0 33.333%;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.cart__overall{
    font-size: 18px;
    font-weight: 500;
}
.cart__total{
    font-size: 18px;
    font-weight: 500;
}